<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sinanime</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="#">Sinanime</a>
      </div>
      <div class="menu-list">
        <a class="active" href="/">Home</a>
        <a href="#upcoming">Upcoming animes</a>
        <a href="#popular">Popular animes</a>
      </div>
      <div class="search-bar">
        <form action="/search">
          <i class="fa fa-search"></i>
          <input type="text" name="search" placeholder="search" />
        </form>
      </div>
  </div>