*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 100px;
    line-height: 100px;
    width: 100%;
    z-index: 5;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{text-decoration: none;}
}

.menu-list a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
}
.menu-list a:hover,
.menu-list a.active{
    background-color: red;
}
.logo{
    margin-left: 10px;
    font-size: 1.7rem;
    a{color: red;}
}
.search-bar {color: white;}
.search-bar input{
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.watch{
    display: flex;
}
.episode{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.episodes{
    display: flex;
}